# Ambientes virtuais
venv/
env/
ENV/

# Arquivos do Python
__pycache__/
*.py[cod]
*$py.class

# Banco de dados local de desenvolvimento (opcional, mas recomendado)
db.sqlite3

# Configurações do IDE e sistema operacional
.vscode/
.idea/
.DS_Store
Thumbs.db